<div class="container">
  <div class="left-pane">
    <h2>Add Employee</h2>
    <input [(ngModel)]="newEmployee.name" placeholder="Name">
    <input [(ngModel)]="newEmployee.email" placeholder="Email">
    <input [(ngModel)]="newEmployee.birthday" name="birthday" type="date" placeholder="Birthday">
    <input [(ngModel)]="newEmployee.grade" placeholder="Position">
    <input [(ngModel)]="newEmployee.imgUrl" placeholder="Image Url">
    <div class="gender-input">
      <select id="gender" [(ngModel)]="newEmployee.gender">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <button (click)="addStudent()" appBoldOnClick>Add Student</button>
  </div>

  <div class="right-pane">
    <h2>Employees</h2>
    <ng-container *ngFor="let employee of employees; let i = index">
      <ng-container>
        <app-student-list [id]="i" [name]="employee.name" [gender]="employee.gender" [email]="employee.email"
          [imgUrl]="employee.imgUrl" (remove)="removeEmployee(i)">
          <div class="age" #birthday><i class="fa-solid fa-cake-candles"></i> &nbsp;&nbsp; {{ employee.birthday }}</div>
          <div class="grade" #grade><i class="fa-solid fa-user-tie"></i> &nbsp;&nbsp; {{ employee.grade }}</div>
        </app-student-list>
      </ng-container>
    </ng-container>
  </div>
</div>